In [21]:
import pandas as pd
import numpy as np

In [22]:
a_p = pd.read_csv("playstation/achievements.csv")
g_p = pd.read_csv("playstation/games.csv")
h_p = pd.read_csv("playstation/history.csv")
p_p = pd.read_csv("playstation/players.csv")
pr_p = pd.read_csv("playstation/prices.csv")
pu_p = pd.read_csv("playstation/purchased_games.csv")

In [23]:
a_s = pd.read_csv("steam/achievements.csv")
g_s = pd.read_csv("steam/games.csv")
h_s = pd.read_csv("steam/history.csv")
p_s = pd.read_csv("steam/players.csv")
pr_s = pd.read_csv("steam/prices.csv")
pu_s = pd.read_csv("steam/purchased_games.csv")
f_s = pd.read_csv("steam/friends.csv")
r_s = pd.read_csv("steam/reviews.csv")

In [24]:
a_x = pd.read_csv("xbox/achievements.csv")
g_x = pd.read_csv("xbox/games.csv")
h_x = pd.read_csv("xbox/history.csv")
p_x = pd.read_csv("xbox/players.csv")
pr_x = pd.read_csv("xbox/prices.csv")
pu_x = pd.read_csv("xbox/purchased_games.csv")

In [25]:
# Ajout de la colonne platform
a_p["platform"]=g_p["platform"]
a_s["platform"]="steam"
a_x["platform"]="xbox"

g_s.insert(2, "platform", "steam")
g_x.insert(2, "platform", "xbox")

h_p['platform'] = a_p["platform"]
h_s['platform'] = "steam"
h_x['platform'] = "xbox"

p_p["platform"]=g_p["platform"]
p_s["platform"]="steam"
p_x["platform"]="xbox"

pr_p["platform"]=g_p["platform"]
pr_s["platform"]="steam"
pr_x["platform"]="xbox"

pu_p["platform"]=g_p["platform"]
pu_s["platform"]="steam"
pu_x["platform"]="xbox"

In [26]:
# Suppression des guillements et des crochets
g_p=g_p.replace(r'[\[\]"\']', '', regex=True)
g_s=g_s.replace(r'[\[\]"\']', '', regex=True)
g_x=g_x.replace(r'[\[\]"\']', '', regex=True)

pu_p=pu_p.replace(r'[\[\]]', '', regex=True)
pu_s=pu_s.replace(r'[\[\]]', '', regex=True)
pu_x=pu_x.replace(r'[\[\]]', '', regex=True)

In [27]:
# Concaténation
achievements_ = pd.concat([a_p, a_s, a_x], ignore_index=True)
games_=pd.concat([g_p, g_s, g_x], ignore_index=True)
history_=pd.concat([h_p, h_s, h_x], ignore_index=True)
players_=pd.concat([p_p, p_s, p_x], ignore_index=True)
prices_=pd.concat([pr_p, pr_s, pr_x], ignore_index=True)
purchased_games_=pd.concat([pu_p, pu_s, pu_x], ignore_index=True)

In [28]:
# Ajout du nombre de jeux achetés par joueur
purchased_games_["nb_games"] = purchased_games_["library"].astype(str).apply(
    lambda x: len(x.split(',')) if x != "nan" else 0)
purchased_games_

,playerid,library,platform,nb_games
0,268071,"14972, 417905, 14693, 7742, 20162, 461983, 126...",PS4,231
1,2218485,"410618, 17456, 16034, 138931, 175202, 331007, ...",PS4,867
2,253885,"417808, 706747, 619583, 492711, 555631, 18167,...",PS5,50
3,1911732,"670209, 694794, 658551, 582894, 602666, 655314...",PS4,137
4,3098524,"19362, 170350, 12653, 20230, 12750, 18141, 413...",PS5,172
...,...,...,...,...
195591,698172,"1225, 2937, 3597, 2114, 1142, 2152, 1186, 2119...",xbox,125
195592,606933,"1240, 1529, 1209, 590826, 185285, 628210, 1579...",xbox,124
195593,776695,"7756, 183346, 18204, 15414, 17177, 11501, 1958...",xbox,258
195594,3069400,"755119, 12694, 550303, 19170, 176537, 648424, ...",xbox,219
195595,4017053,"18204, 11683, 439438, 10948, 646081, 550303, 7...",xbox,56

In [29]:
achievements_

,achievementid,gameid,title,description,rarity,platform,points
0,749980_6103480,749980,Platinum Cup,Get all the trophies,Platinum,PS4,NaN
1,749980_6103481,749980,Arcade Beginner,Finish race,Bronze,PS4,NaN
2,749980_6103482,749980,Arcade Beginner Dirt,Finish race,Bronze,PS5,NaN
3,749980_6103483,749980,Arcade Intermediate,Finish race,Silver,PS4,NaN
4,749980_6103484,749980,Arcade Advanced,Finish race,Silver,PS5,NaN
...,...,...,...,...,...,...,...
3136696,333262_6158528,333262,Animal Farm,Reach 50 Vivarium capacity.,NaN,xbox,1.0
3136697,333262_6158529,333262,Wormageddon,Destroy a Voidworm nest.,NaN,xbox,1.0
3136698,333262_6158530,333262,That's No Asteroid,Capture a Cutholoid with a Gravity Snare.,NaN,xbox,1.0
3136699,333262_6158531,333262,X Marks the Spot,Discover Captain Ness's Treasure Hoard.,NaN,xbox,1.0
3136700,333262_6158532,333262,Beastmaster,Defeat the endgame crisis without building a s...,NaN,xbox,1.0

In [30]:
# Export
achievements_.to_csv("achievements_.csv", index=False)
games_.to_csv("games_.csv", index=False)
players_.to_csv("players_.csv", index=False)
prices_.to_csv("prices_.csv", index=False)
purchased_games_.to_csv("purchased_games_.csv", index=False)
f_s.to_csv("friends_.csv", index=False)
r_s.to_csv("reviews_.csv", index=False)