In [1]:
import pandas as pd
import numpy as np

In [2]:
a_p = pd.read_csv("playstation/achievements.csv")
g_p = pd.read_csv("playstation/games.csv")
h_p = pd.read_csv("playstation/history.csv")
p_p = pd.read_csv("playstation/players.csv")
pr_p = pd.read_csv("playstation/prices.csv")
pu_p = pd.read_csv("playstation/purchased_games.csv")

In [3]:
a_s = pd.read_csv("steam/achievements.csv")
g_s = pd.read_csv("steam/games.csv")
h_s = pd.read_csv("steam/history.csv")
p_s = pd.read_csv("steam/players.csv")
pr_s = pd.read_csv("steam/prices.csv")
pu_s = pd.read_csv("steam/purchased_games.csv")
f_s = pd.read_csv("steam/friends.csv")
r_s = pd.read_csv("steam/reviews.csv")

In [4]:
a_x = pd.read_csv("xbox/achievements.csv")
g_x = pd.read_csv("xbox/games.csv")
h_x = pd.read_csv("xbox/history.csv")
p_x = pd.read_csv("xbox/players.csv")
pr_x = pd.read_csv("xbox/prices.csv")
pu_x = pd.read_csv("xbox/purchased_games.csv")

In [14]:
# Ajout de la colonne platform
a_p["platform"]="playstation"
a_s["platform"]="steam"
a_x["platform"]="xbox"

g_p['platform'] = "playstation"
g_s['platform'] = "steam"
g_x['platform'] = "xbox"

h_p['platform'] = "playstation"
h_s['platform'] = "steam"
h_x['platform'] = "xbox"

p_p["platform"]="playstation"
p_s["platform"]="steam"
p_x["platform"]="xbox"

pr_p["platform"]="playstation"
pr_s["platform"]="steam"
pr_x["platform"]="xbox"

pu_p["platform"]="playstation"
pu_s["platform"]="steam"
pu_x["platform"]="xbox"

In [15]:
# Suppression des guillements et des crochets
g_p=g_p.replace(r'[\[\]"\']', '', regex=True)
g_s=g_s.replace(r'[\[\]"\']', '', regex=True)
g_x=g_x.replace(r'[\[\]"\']', '', regex=True)

pu_p=pu_p.replace(r'[\[\]]', '', regex=True)
pu_s=pu_s.replace(r'[\[\]]', '', regex=True)
pu_x=pu_x.replace(r'[\[\]]', '', regex=True)

In [16]:
# Concaténation
achievements_ = pd.concat([a_p, a_s, a_x], ignore_index=True)
games_=pd.concat([g_p, g_s, g_x], ignore_index=True)
history_=pd.concat([h_p, h_s, h_x], ignore_index=True)
players_=pd.concat([p_p, p_s, p_x], ignore_index=True)
prices_=pd.concat([pr_p, pr_s, pr_x], ignore_index=True)
purchased_games_=pd.concat([pu_p, pu_s, pu_x], ignore_index=True)

In [8]:
# Ajout du nombre de jeux achetés par joueur
purchased_games_["nb_games"] = purchased_games_["library"].astype(str).apply(
    lambda x: len(x.split(',')) if x != "nan" else 0)
purchased_games_

,playerid,library,platform,nb_games
0,268071,"14972, 417905, 14693, 7742, 20162, 461983, 126...",playstation,231
1,2218485,"410618, 17456, 16034, 138931, 175202, 331007, ...",playstation,867
2,253885,"417808, 706747, 619583, 492711, 555631, 18167,...",playstation,50
3,1911732,"670209, 694794, 658551, 582894, 602666, 655314...",playstation,137
4,3098524,"19362, 170350, 12653, 20230, 12750, 18141, 413...",playstation,172
...,...,...,...,...
195591,698172,"1225, 2937, 3597, 2114, 1142, 2152, 1186, 2119...",xbox,125
195592,606933,"1240, 1529, 1209, 590826, 185285, 628210, 1579...",xbox,124
195593,776695,"7756, 183346, 18204, 15414, 17177, 11501, 1958...",xbox,258
195594,3069400,"755119, 12694, 550303, 19170, 176537, 648424, ...",xbox,219
195595,4017053,"18204, 11683, 439438, 10948, 646081, 550303, 7...",xbox,56

In [ ]:
# Export
achievements_.to_csv("achievements_.csv", index=False)
games_.to_csv("games_.csv", index=False)
players_.to_csv("players_.csv", index=False)
prices_.to_csv("prices_.csv", index=False)
purchased_games_.to_csv("purchased_games_.csv", index=False)
f_s.to_csv("friends_.csv", index=False)
r_s.to_csv("reviews_.csv", index=False)

:

In [10]:
N = 4
achievements_parts_ = np.array_split(achievements_, N)

for i, part in enumerate(achievements_parts_):
    part.to_csv(f'achievements_partie_{i+1}.csv', index=False)

C:\Users\darla\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [11]:
N = 15 
history_parts_ = np.array_split(history_, N)

for i, part in enumerate(history_parts_):
    part.to_csv(f'history_partie_{i+1}.csv', index=False)

In [12]:
N = 4
reviews_parts_ = np.array_split(r_s, N)

for i, part in enumerate(reviews_parts_):
    part.to_csv(f'reviews_partie_{i+1}.csv', index=False)

In [13]:
N = 4
friends_parts_ = np.array_split(f_s, N)

for i, part in enumerate(friends_parts_):
    part.to_csv(f'friends_partie_{i+1}.csv', index=False)