In [2]:
import pandas as pd

### Combien de joueurs par plateforme? 
### (en utilisant la table "players" qui contient tous les joueurs inscrits)

In [15]:
players=pd.read_csv("final/players.csv",index_col=0)

In [23]:
players.head()

              playerid             country   plateforme  created  created_year
0  2744567_playstation             Croatia  playstation  unknown           NaN
1   328452_playstation       United States  playstation  unknown           NaN
2  2521482_playstation      United Kingdom  playstation  unknown           NaN
3   390175_playstation  Korea, Republic of  playstation  unknown           NaN
4  4348945_playstation  Russian Federation  playstation  unknown           NaN

In [24]:
# Requete finale pour répondre a la quesiton : Combien de joueurs par plateforme ?

players_per_platform = players.groupby('plateforme')['playerid'].nunique().reset_index()
players_per_platform

    plateforme  playerid
0  playstation    356600
1        steam    424683
2         xbox    274450

In [25]:
# enregistrer en csv 

players_per_platform.to_csv("powerbi/nb_joueurs_par_plateforme.csv")

### Combien de joueurs par plateforme? (en utilisant la table "purchased_games" qui contient les joueurs qui ont acheté)

In [8]:
# importer la table crée dans la réponse à la question : Top 10 jeux pas pays (fichier top_10_jeux_par_pays.ipynb). 

purchased_games_split=pd.read_csv("powerbi/purchased_games_splitlibrary.csv",index_col=0)

In [9]:
purchased_games_split.head()

             playerid               gameid   plateforme
0  268071_playstation    14972_playstation  playstation
0  268071_playstation   417905_playstation  playstation
0  268071_playstation    14693_playstation  playstation
0  268071_playstation     7742_playstation  playstation
0  268071_playstation    20162_playstation  playstation

In [26]:
# Requete finale pour répondre a la quesiton : Combien de joueurs par plateforme ?

players_per_platform = purchased_games_split.groupby('plateforme')['playerid'].nunique().reset_index().sort_values('playerid', ascending=False)

players_per_platform

    plateforme  playerid
1        steam    102548
0  playstation     46582
2         xbox     46466

### Analyse complémentaire sur la table purchased_games

nombre de joueurs par jeu

In [27]:
players_per_game = purchased_games_split.groupby('gameid')['playerid'].nunique().reset_index().sort_values('playerid', ascending=False)

In [29]:
players_per_game.columns = ["gameid", "number_of_players"]

In [30]:
players_per_game

                    gameid  number_of_players
93030        unknown_steam              55607
72628            730_steam              41807
75756     7779_playstation              29802
80449     9459_playstation              28900
6712    137118_playstation              28587
...                    ...                ...
87218         391740_steam                  1
87217          391731_xbox                  1
66124   667831_playstation                  1
87214   391619_playstation                  1
82429        1307550_steam                  1

[93031 rows x 2 columns]

nombre de jeux par joueur

In [ ]:
games_per_player = purchased_games_split.groupby("playerid")["gameid"].nunique().reset_index().sort_values('playerid', ascending=False)
games_per_player.columns = ["playerid", "number_of_games"]

In [33]:
games_per_player

                  playerid  number_of_games
195595    9999_playstation               93
195594   99974_playstation              568
195593    9993_playstation               31
195592   99926_playstation               63
195591   99815_playstation              171
...                    ...              ...
4       100157_playstation              281
3       100153_playstation               33
2       100082_playstation              106
1       100039_playstation              124
0       100038_playstation               28

[195596 rows x 2 columns]

nombre de jeux par plateforme

In [38]:
games_per_platform = purchased_games_split.groupby('plateforme')['gameid'].nunique().reset_index().sort_values('gameid', ascending=False)

In [41]:
games_per_platform.columns = ["plateforme", "number_of_games"]

In [42]:
games_per_platform

    plateforme  number_of_games
1        steam            45093
0  playstation            33468
2         xbox            14470