In [1]:
import pandas as pd

### Quel est le nombre de sessions par utilisateur ? par jeu ?

In [2]:
games=pd.read_csv("final/games.csv")
games.head()

,Unnamed: 0,gameid,title,platform,developers,publishers,genres,supported_languages,release_date,plateforme,main_genre,supported_languages_count,release_year
0,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024
1,1,749839_playstation,Sunforge Solar Survival,PS4,['GrizzlyGames'],['GrizzlyGames'],unknown,['unknown'],2024-11-21,playstation,unknown,131888,2024
2,2,749347_playstation,Find Love Or Die Trying,PS5,['Sunseeker Games'],['Ratalaika Games'],['Visual Novel'],['unknown'],2024-11-22,playstation,Visual Novel,131888,2024
3,3,749341_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024
4,4,749097_playstation,Bust A Block 2,PS5,['ThiGames'],['ThiGames'],['Puzzle'],['unknown'],2024-11-21,playstation,Puzzle,131888,2024

In [3]:
achievements=pd.read_csv("final/achievements.csv")
achievements.head()

C:\Users\Administrator\AppData\Local\Temp\1\ipykernel_12536\2410205194.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  achievements=pd.read_csv("final/achievements.csv")

,Unnamed: 0,achievementid,gameid,title,description,rarity,plateforme,points
0,0,749980_6103480,749980_playstation,Platinum Cup,Get all the trophies,Platinum,playstation,Null
1,1,749980_6103481,749980_playstation,Arcade Beginner,Finish race,Bronze,playstation,Null
2,2,749980_6103482,749980_playstation,Arcade Beginner Dirt,Finish race,Bronze,playstation,Null
3,3,749980_6103483,749980_playstation,Arcade Intermediate,Finish race,Silver,playstation,Null
4,4,749980_6103484,749980_playstation,Arcade Advanced,Finish race,Silver,playstation,Null

In [4]:
history=pd.read_csv("final/history.csv")
history.head()

,Unnamed: 0,playerid,achievementid,date_acquired,plateforme,acquired_year
0,0,1911732_playstation,670209_5436079,2024-11-28 10:23:24,playstation,2024
1,1,1911732_playstation,670209_5436078,2024-11-28 09:36:41,playstation,2024
2,2,1911732_playstation,670209_5436077,2024-11-28 08:31:54,playstation,2024
3,3,1911732_playstation,670209_5436076,2024-11-28 08:19:23,playstation,2024
4,4,1911732_playstation,658551_5368954,2024-10-05 13:12:35,playstation,2024

In [5]:
type(history['acquired_year'].iloc[0])

numpy.int64

In [6]:
# premier merge games avec achievements

achievements_games=games.merge(
  achievements,
  left_on =['gameid'],
  right_on =['gameid'],
  how='left'    
)

achievements_games.head()

,Unnamed: 0_x,gameid,title_x,platform,developers,publishers,genres,supported_languages,release_date,plateforme_x,main_genre,supported_languages_count,release_year,Unnamed: 0_y,achievementid,title_y,description,rarity,plateforme_y,points
0,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024,560.0,749375_6098396,Medieval Conqueror,Unlock all trophies.,Platinum,playstation,Null
1,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024,561.0,749375_6098397,Easy Mode,Successfully complete easy mode.,Silver,playstation,Null
2,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024,562.0,749375_6098398,Medium Mode,Successfully complete medium mode.,Gold,playstation,Null
3,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024,563.0,749375_6098399,Hard Mode,Successfully complete hard mode.,Gold,playstation,Null
4,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024,564.0,749375_6098400,Money Bag,Find the Money Bag,Bronze,playstation,Null

In [7]:
# laisser les colonnes dont on a besoin (question memoire ordinateur pour préparer deuxieme merge)

achievements_games=achievements_games[['gameid', 'title_x', 'achievementid','plateforme_x']]
achievements_games.head()

               gameid                title_x   achievementid plateforme_x
0  749375_playstation  Medieval Match Master  749375_6098396  playstation
1  749375_playstation  Medieval Match Master  749375_6098397  playstation
2  749375_playstation  Medieval Match Master  749375_6098398  playstation
3  749375_playstation  Medieval Match Master  749375_6098399  playstation
4  749375_playstation  Medieval Match Master  749375_6098400  playstation

In [8]:
type(achievements_games['plateforme_x'].iloc[0])

str

In [9]:
achievements_games.shape

(839481, 4)

In [ ]:
# Cette requête n’a pas abouti en raison d’un manque de mémoire. Ce merge a été effectué dans Snowflake

# achievements_games=achievements_games. merge (
#   history,
#   left_on =['achievementid'],
#   right_on =['achievementid'],
#   how='left'    
# )

In [ ]:
# télécharger résultat du premier merge pour snowflake

# achievements_games.to_csv("out/achievements_games_temp.csv")

In [ ]:
# Deuxième merge a été effectué dans Snowflake et requête finale pour répondre a la quesiton :

# SELECT playerid, gameid, title_x,
#     COUNT(DISTINCT date_acquired) as session_count
# FROM achievements_games_temp ag 
# LEFT JOIN history h 
# ON ag.achievementid = h.achievementid
# GROUP BY playerid,gameid,title_x
# ORDER BY session_count;

In [10]:
# Réponse à la quesiton : Quel est le nombre de sessions par utilisateur ? par jeu ?: 

achievement_games_history=pd.read_csv("powerbi/achievement_games_history.csv")

In [11]:
achievement_games_history

,PLAYERID,GAMEID,TITLE_X,SESSION_COUNT
0,NaN,712910_steam,Cubians : Rescue Princess,0
1,NaN,2218720_steam,Ecosphere - Prologue,0
2,NaN,395960_steam,عالم أريب,0
3,NaN,1344440_steam,Spaceflux,0
4,NaN,3166420_steam,VolleySmash,0
...,...,...,...,...
2100095,76561198050833283_steam,684050_steam,Achievement Idler: Black,5000
2100096,76561197987340453_steam,798850_steam,Achievement Lurker: Easiest Cosmetic Numbers,5000
2100097,76561197987596512_steam,684050_steam,Achievement Idler: Black,5000
2100098,76561199227667010_steam,684050_steam,Achievement Idler: Black,5000
2100099,76561198298591193_steam,684050_steam,Achievement Idler: Black,5000

In [12]:
# test pour s'assurer que "Achievement Idler: Black" est un jeu et pas le titre de Achievement
mask=games['title']=='Achievement Idler: Black'
games[mask]

,Unnamed: 0,gameid,title,platform,developers,publishers,genres,supported_languages,release_date,plateforme,main_genre,supported_languages_count,release_year
58160,58160,684050_steam,Achievement Idler: Black,unknown,['IHM Studio'],['IHM Studio'],['Casual'],['English'],2018-04-13,steam,Casual,131888,2018